<h1>Editing Item</h1>

<%= form_for(@item ,  {:url => dashboard_admin_item_path , :method => 'patch'}) do |f| %>
	Name <%= f.text_field :name %><br/>
	Price <%= f.number_field :price %><br/>
	Picture <%= f.file_field :cover %><br/>

	Category <%= f.select :cate_id , Cate.all.map{|c|[c.name , c.id]} %><br/>

	<button type="submit">Submit</button>
<% end %>


